{% extends "CoreBundle::layout.html.twig" %}

{% block section %}

<artical>
    <header>
        <h1>
            {{ post.title }}
        </h1>
    </header>
    <p>
        {{ post.body }}
    </p>
</artical>

{% endblock %}
